{#
/**
* @file
* Default theme implementation to display the file entity as a Podigee podcast.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   audio tag.
* - files: And array of files to be added as sources for the audio tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
*
* @ingroup themeable
*/
#}
{% for file in files %}
  <script id="podigee-placeholder-{{ file.hash }}"></script>
{% endfor %}
